* text=auto eol=lf
*.cs text diff=csharp
*.json text
*.asmdef text
*.meta text
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.mp3 binary
*.fbx binary

