/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Builds/
*.csproj
*.sln
*.user
*.unitypackage
*.apk
*.aab
*.keystore
*.jks
*.p12
*.mobileprovision
*.cer
*.provisionprofile
.env
.env.*
Signing/
LocalBuildSettings/
DerivedData/
sysinfo.txt
